<button
    class="btn"
    [class]="classes"
    [style.font-size]="fontSize"
    [style.font-weight]="fontWeight"
    [ngClass]="{
        'btn--primary': color === 'primary',
        'btn--secondary': color === 'secondary',
        'btn--success': color === 'success',
        'btn--danger': color === 'danger',
        'btn--small': size === 'small',
        'btn--large': size === 'large',
        'btn--super-large': size === 'super-large',
        'btn--full': size === 'full',
        'btn--left': align === 'left',
        'btn--right': align === 'right',
        'btn--center': align === 'center',
        'btn--long': size === 'long'
    }"
>
    <ng-content></ng-content>
</button>