@import "src/styles/colors";
@import "src/styles/fonts";

button {
    outline: 0;
    margin:0;
    padding: 0;
    border:none;
    cursor: pointer;
}

.btn {
    background:$primary-color;
    color:#FFF;
    font-family:$primary-font;
    border-radius: 3px;
    padding:10px 20px;

    &--secondary {
        background:$secondary-color;
    }

    &--success {
        background:$success-color;
    }
    
    &--danger {
        background:$danger-color;
    }

    &--small {
        padding:5px 10px;
    }

    &--large {
        padding:15px 30px;
    }

    &--super-large {
        padding: 15px 60px;
    }

    &--full {
        width:100%;
        padding:15px 30px;
    }

    &--left {
        text-align: left;
        margin-right:10px;
    }
    &--right {
        text-align: right;
        margin-left:10px;
    }
    &--center {
        text-align: center;
    }

    &--long {
        padding: 10px 35px;
    }
}