Options -MultiViews -Indexes

RewriteEngine On

RewriteBase /backend/

RewriteRule ^([^/:?]+)/([^/:?]+)/([^/:?]+)/. . [R]
RewriteRule ^.*[^/]$ $0/ [R]

RewriteRule ^([^/:?]+)/$ ?uc1=$1 [QSA,L]
RewriteRule ^([^/:?]+)/([^/:?]+)/$ ?uc1=$1&uc2=$2 [QSA,L]
RewriteRule ^([^/:?]+)/([^/:?]+)/([^/:?]+)/$ ?uc1=$1&uc2=$2&uc3=$3 [QSA,L]
