Options -MultiViews -Indexes

RewriteEngine On

RewriteBase /
RewriteRule ^([^/:?]+)/([^/:?]+)/([^/:?]+)/. . [R]
RewriteRule ^.*[^/]$ $0/ [R]

RewriteRule ^([^/:?]+)/$ ?uc1=$1 [L]
RewriteRule ^([^/:?]+)/([^/:?]+)/$ ?uc1=$1&uc2=$2 [L]
RewriteRule ^([^/:?]+)/([^/:?]+)/([^/:?]+)/$ ?uc1=$1&uc2=$2&uc3=$3 [L]
