@import "../../../../styles/colors";
@import "../../../../styles/fonts";
@import "../../../../styles/icons";

.quiz {
    h2 {
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
    }

    &__hidden {
        opacity: 0;
    }

    &__content {
        padding:10px 100px;
    }

    &__quiz {
        margin:15px 0;
    }

    &__next {
        display: flex;
        justify-content: flex-end;
    }

    &__answer {
        margin:10px 0;

        h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;    
        }
    }
}
.good {
    background:$success-color;
}

@media (max-width: 1000px) {
    .quiz {
        &__content {
            padding:10px 20px;
        }
    }
}