.temoignage {
    padding:10px 15px;
    &__infos {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        .avatar {
            width: 55px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background:#D9D9D9;
            margin-right:10px;
        }

        h4 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
        }
    }

    &__content {
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
}