<div class="quiz">
    <h2>Nos Quiz</h2>
    <div class="quiz__content" *ngIf="quiz.length > 0; else empty">
        <app-disclaimer>Nous ne stockons aucune de vos données, vous pouvez répondre sans crainte :)</app-disclaimer>
        <div *ngFor="let q of quiz" class="quiz__quiz" (click)="goToQuiz(q)">
            <app-button [size]="buttonSize.Full" fontSize="24px" fontWeight="700" align="left">{{q.title}}</app-button>
        </div>
    </div>
    <ng-template #empty>
        <p style="text-align: center;">Aucun Quiz pour le moment :/</p>
    </ng-template>
</div>