@import "src/styles/colors";
@import "src/styles/fonts";

.disclaimer {
  padding: 10px;
  background-color: $disclaimer-color;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  .disclaimer-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: black 2px solid;
    display: flex;

    span {
      font-size: 14px;
      margin: auto;
    }
  }

  .content {
    flex: 1;
    text-align: left;
  }
}
