<!-- <div class="carousel">
    <i class="icon chevron chevron-left"></i>
    <i class="icon chevron chevron-right"></i>
    <div class="carousel__content">
        <h1>Titre de l'article</h1>
        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit hic veritatis rem nulla nostrum dolor assumenda sequi, possimus dignissimos dolorem? Ipsum tempora minima commodi enim facilis sed nostrum dolor suscipit?</p>
    </div>
</div> -->
<div class="section">
    <div class="quiz">
        <h2>Vous pensez être incollable sur le sujet ? Essayez nos différents Quiz !</h2>
        <div class="quiz__content">
            <app-button [size]="buttonSize.SuperLarge" fontSize="20px" fontWeight="600" [routerLink]="'/quiz'">Accéder aux Quiz</app-button>
        </div>
    </div>
</div>
<div class="section">
    <app-faq></app-faq>
</div>
<div class="section">
    <app-associations></app-associations>
</div>
<div class="section">
    <app-temoignage></app-temoignage>
</div>
