textarea {
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    border:0;
    padding: 10px 15px;
    border-bottom: 1px solid #000000;
    width: 100%;
    resize: none;
    box-sizing: border-box;
}