@import "../../../../../styles/colors";
@import "../../../../../styles/fonts";
@import "../../../../../styles/icons";

.faq {
    padding: 40px 0;
    width: 100%;
    text-align: center;
    background:$secondary-color;

    h2 {
        color:white;
        margin:0 0 5px 0;
        font-family: $primary-font;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;

    }

    &__content {
        width: 1000px;
        margin: 40px auto;
    }
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .faq {
        &__content {
            width: 100%;
            margin: 40px 20px;
            box-sizing: border-box;
        }
    }
}