#associations {
  margin: auto;
  width: 100%;

  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }
  .associations {
    display: flex;
    flex-direction: row;
    gap: 20px;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
  }
}
