<div class="footer">
    <div class="footer__content">
        <p class="title">L'association</p>
        <p class="content">Faire un don</p>
        <p class="content">A propos</p>
        <p class="content">L'équipe</p>
    </div>
    <div class="footer__content">
        <p class="title">Le site</p>
        <p class="content">Faire un don</p>
        <p class="content">A propos</p>
        <p class="content">L'équipe</p>
    </div>
</div>
<div class="copyright">
    Copyright © 2022 - Tous droits réservés.
</div>