<div class="footer">
    <div class="footer__content">
        <p class="title">L'association</p>
        <p class="content" [routerLink]="'/dons'">Faire un don</p>
    </div>
    <div class="footer__content">
        <p class="title">Le site</p>
        <p class="content" (click)="goToGodless()">Sauvez-moi, ma mère est en train d'ouvrir la porte !</p>
        <p class="content game" (click)="goToGame()">Accéder au jeu</p>
    </div>
</div>
<div class="copyright">
    Copyright © 2022 - Tous droits réservés.
</div>